<main>
  <section class="d-flex justify-content-between border-bottom p-2">
    <h2 class="m-0 align-self-center">Manage Members</h2>
    <button id="btn-new-member" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#new-member-modal" (click)="newMember(txtId, txtName, txtContact, txtAddress)">New Member</button>
  </section>
  <section class="p-2">
    <input #txtSearch id="txt-search" class="form-control text-center" type="text" (input)="getMembers(txtSearch)" placeholder="Search Member">
  </section>
  <section class="p-2">
    <div class="member-table-wrapper">
      <table id="tbl-members" class="table table-striped table-hover table-bordered">
        <thead class="table-light">
          <tr class="table-primary">
            <th class="text-center">ID</th>
            <th class="text-center">Name</th>
            <th class="d-none d-xl-table-cell text-center">Address</th>
            <th class="contact text-center">Contact</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let member of memberList">
          <tr>
            <td class="text-center">{{member._id}}</td>
            <td>{{member.name}}</td>
            <td class="d-none d-xl-table-cell">{{member.address}}</td>
            <td class="contact text-center">{{member.contact}}</td>
            <td>
              <div class="actions d-flex gap-3 justify-content-center">
                <div (click)="updateMember(member, txtId, txtName, txtContact, txtAddress)"
                     data-bs-toggle="modal" data-bs-target="#new-member-modal" title="Update Member">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                       class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg>
                </div>
                <div (click)="deleteMember(member._id)" title="Delete Member">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                       class="bi bi-trash" viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                    <path
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                  </svg>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr *ngIf="!memberList" >
            <td class="text-center" colspan="5">No member records are found!</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </section>
</main>
<!-- Modal -->
<div class="modal fade" id="new-member-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{modelTitle}}</h1>
        <button id="btnClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <div class="mb-3">
          <label for="txt-id" class="form-label">Member ID</label>
          <input #txtId type="text" class="form-control text-center" id="txt-id" placeholder="Eg. 982370761V">
          <div class="invalid-feedback">
            Id can't be empty
          </div>
        </div>
        <div class="mb-3">
          <label for="txt-name" class="form-label">Member Name</label>
          <input #txtName type="text" class="form-control text-center" id="txt-name" placeholder="Eg. Kasun Sampath">
          <div class="invalid-feedback">
            Name can't be empty
          </div>
        </div>
        <div class="mb-3">
          <label for="txt-contact" class="form-label">Member Contact</label>
          <input #txtContact type="text" class="form-control text-center" id="txt-contact" placeholder="Eg. 077-1234567">
          <div class="invalid-feedback">
            Contact can't be empty
          </div>
        </div>
        <div class="mb-3">
          <label for="txt-address" class="form-label">Member Address</label>
          <input #txtAddress type="text" class="form-control text-center" id="txt-address" placeholder="Eg. #501/A, Grace Peries Road, Panadura">
          <div class="invalid-feedback">
            Address can't be empty
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <div id="loader">
          <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
        <button id="btn-save" type="button" class="btn btn-primary"
                (click)="saveMember(txtId, txtName, txtAddress, txtContact)">{{btnText}}</button>
      </div>
    </div>
  </div>
</div>
